body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    color: black;
}

header {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 15px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
}

.product-card {
    text-align: center;
}

.img-placeholder {
    width: 160px;
    height: 200px;
    background: #e5e5e5;
    border-radius: 12px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.6s;
}

.btn:hover {
    background: #646363;
}

footer {
    margin-top: 500px;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    background: #f0f0f0;
}
.product-card img{
    width: 90%;
    background: #e5e5e5;
    border-radius: 12px;
    margin-bottom: 10px;
}
.login-box {
    width: 250px;
    padding: 15px;
    background: #ffffff10;
    border: 1px solid #ffffff30;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-box input {
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.login-box button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}