body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    color: black;
}

header {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 15px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
}

.product-card {
    text-align: center;
}

.img-placeholder {
    width: 160px;
    height: 200px;
    background: #e5e5e5;
    border-radius: 12px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #545454;
}

footer {
    margin-top: 500px;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    background: #f0f0f0;
}